@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Akzidenz;
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/akzidenz/AkzidenzGroteskPro-BoldEx.otf') format('opentype');
  }
  @font-face {
    font-family: Akzidenz;
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/akzidenz/AkzidenzGroteskPro-Md.otf') format('opentype');
  }
  @font-face {
    font-family: Akzidenz;
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/akzidenz/AkzidenzGroteskPro-Regular.otf') format('opentype');
  }

  html {
    font-family: Akzidenz, system-ui, -apple-system, sans-serif;
  }
}

@layer components {
  .app {
    @apply min-h-screen flex flex-col justify-center items-center dark:text-white dark:bg-zinc-800;
  }
  
  .logo {
    @apply text-2xl sm:text-4xl md:text-5xl font-bold;
  }

  .logo-sm {
    @apply text-xl;
  }

  .button-primary {
    @apply flex justify-center items-center font-medium rounded-md px-5 py-2 bg-slate-200 enabled:hover:bg-slate-300 dark:bg-blue-500 enabled:dark:hover:bg-blue-600 disabled:opacity-30 disabled:cursor-not-allowed;
  }

  .button-secondary {
    @apply bg-red-600 text-white font-medium rounded-md hover:bg-red-500;
  }

  .placeholders-wrapper {
    @apply flex flex-row;
  }

  .letter {
    @apply mx-2 text-3xl font-medium;
  }

  .keyboard {
    @apply max-w-2xl mt-5 flex justify-center flex-wrap;
  }

  .keyboard-button {
    @apply w-10 h-10 sm:w-14 sm:h-14 m-1 sm:m-2;
  }

  .hangman-img {
    @apply w-32 h-32 sm:w-60 sm:h-60; 
  }

  .result-header {
    @apply text-2xl font-bold mt-4;
  }

  .result-header.win {
    @apply text-lime-600;
  }

  .result-header.lose {
    @apply text-red-600;
  }

  .result-word {
    @apply font-medium uppercase;
  }

  .loader {
    @apply inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite];
  }
}
